#!/usr/bin/sh

vol=$(amixer -c 1 cget numid=12 | grep ': values' | awk -F '=' '{ print $2 }')

amixer -c 1 cset numid=12 $((vol+1)) > /dev/null

{{ if eq .options.DEorWM "dwm" -}}
kill -s 38 $(cat "$XDG_RUNTIME_DIR/dwmblocks.pid")
{{- end }}

# vim: syntax=sh
